.forum_header {
    width: 100%;
    height: 128px;
    background: #000;
}

.forum_header .forum_header_content {
    width: 1210px;
    margin: 0 auto;
    height: 67px;
    box-sizing: border-box;
}

.forum_header .forum_header_content .sony-logo {
    float: left;
    margin-left: 25px;
}

.forum_header .forum_header_content .sony-logo a {
    width: 109px;
    padding-top: 25px;
    display: block;
    color: #fff;
}

.forum_header .forum_header_content .sony-logo a img {
    display: block;
    width: 100px;
}

.forum_header .forum_header_content .header_ss {
    float: right;
}

.forum_header .forum_header_content .header_ss .userlogout {
    display: none;
    float: right;
    line-height: 67px;
    margin-left: 15px;
}

.forum_header .forum_header_content .header_ss .userlogout span {
    margin-left: 10px;
    cursor: pointer;
    color: #1890ff;
}

.forum_header .forum_header_content .header_ss .header_ss_c {
    float: left;
}

.forum_header .forum_header_content .header_ss .header_ss_c ul li {
    float: left;
    line-height: 65px;
    margin-left: 20px;
}

.forum_header .forum_header_content .header_ss .header_ss_c ul li a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.forum_header .forum_header_content .header_ss .header_ss_c ul li a:hover {
    color: #1890ff;
}

.forum_header .mySony {
    height: 61px;
    background-color: #fff;
}

.forum_header .mySony .logo_box {
    width: 1210px;
    margin: 0 auto;
}

.forum_header .mySony .logo_box a img {
    height: 61px;
    vertical-align: middle;
    border-style: none;
}

.forum_header .mySony .logo_box .headernav {
    float: left;
    line-height: 61px;
}

.forum_header .mySony .logo_box .headernav ul li {
    float: left;
    list-style: none;
    text-align: center;
    width: 100px;
    font-size: 15px;
}

.forum_header .mySony .logo_box .headernav ul li a {
    color: #333;
    font-size: 16px;
}

.forum_header .mySony .logo_box .headernav ul li a:hover {
    color: #1890ff;
}

.main div:nth-child(1) {
    position: relative;
}

.main div:nth-child(1) .login {
    width: 370px;
    height: 360px;
    background: #17A3F3;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -400px;
    margin-top: -180px;
    border-radius: 20px;
}

.main div:nth-child(1) .login .message {
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    height: 20px;
}

.main div:nth-child(1) .login .message span {
    font-size: 12px;
    line-height: 20px;
    color: red;
}

.main div:nth-child(1) .login h3 {
    color: #333;
    font-size: 28px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.main div:nth-child(1) .login input {
    width: 310px;
    height: 45px;
    border: 0;
    outline: none;
    border-radius: 10px;
    padding-left: 20px;
    color: #333;
    font-size: 18px;
    margin-bottom: 20px;
}

.main div:nth-child(1) .login button {
    width: 310px;
    height: 39px;
    line-height: 39px;
    color: #fff;
    font-size: 18px;
    border: 0;
    background: #1890ff;
    border-radius: 16px;
    margin-bottom: 20px;
}

.main div:nth-child(1) .login button:hover {
    background: skyblue;
    color: #333;
    outline: none;
}

.main div:nth-child(1) .login ul {
    width: 166px;
    margin: 0 auto;
}

.main div:nth-child(1) .login ul li {
    float: left;
    margin: 0 20px;
}

.main div:nth-child(1) .login ul li a {
    color: #fff;
}

.main div:nth-child(1) .login ul li a:hover {
    color: #333;
}

.main div:nth-child(1) .register {
    display: none;
    width: 370px;
    height: 360px;
    background: #17A3F3;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -400px;
    margin-top: -180px;
    border-radius: 20px;
    text-align: center;
}

.main div:nth-child(1) .register h3 {
    color: #333;
    font-size: 28px;
    height: 65px;
    line-height: 65px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.main div:nth-child(1) .register input {
    width: 310px;
    height: 45px;
    border: 0;
    outline: none;
    border-radius: 10px;
    padding-left: 20px;
    color: #333;
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.main div:nth-child(1) .register button {
    width: 310px;
    height: 39px;
    line-height: 39px;
    color: #fff;
    font-size: 18px;
    border: 0;
    background: #1890ff;
    border-radius: 16px;
    margin-bottom: 20px;
}

.main div:nth-child(1) .register button:hover {
    background: skyblue;
    color: #333;
    outline: none;
}

.main div:nth-child(1) .register a {
    color: #fff;
    font-size: 14px;
}

.main div:nth-child(1) .register a:hover {
    color: #333;
}